# regular files
*.o
*.ko
*.tar
*.tar.gz
*.tgz
*.tar.xz
*.tar.bz2
*.so
*.out

# mkdocs local build files
docs/site

# the bsp source decompress files
software/bsp/linux-5.17.2
software/bsp/buildroot-2022.02/
software/bsp/u-boot-master/
