// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s-hamsterbear.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "HamsterBear Model0";
	compatible = "hamsterbear,hamsterbear-model0", "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		spi0 = &spi0;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

        reg_vcc3v3: vcc3v3 {
                compatible = "regulator-fixed";
                regulator-name = "vcc3v3";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
        };

	lradc: lradc@1c23400 {
		compatible = "allwinner,sun4i-a10-lradc-keys";
	        reg = <0x01c23400 0x100>;
        	interrupts = <22>;
	        vref-supply = <&reg_vcc3v3>;

	        button-132 {
        	    label = "PRE";
	            linux,code = <105>;
	            channel = <0>;
	            voltage = <174603>;
	        };

	        button-196 {
	            label = "NEXT";
	            linux,code = <106>;
	            channel = <0>;
	            voltage = <419047>;
       		};

	        button-233 {
	            label = "OK";
	            linux,code = <28>;
	            channel = <0>;
	            voltage = <698412>;
       		};

	        button-271 {
	            label = "BACK";
	            linux,code = <14>;
	            channel = <0>;
	            voltage = <803174>;
       		};
	};

/*
	lradc: lradc@1c23400 {
		compatible = "allwinner,suniv-f1c100s-lradc-keys";
	        reg = <0x01c23400 0x100>;
        	interrupts = <22>;
	        vref-supply = <&reg_vcc3v3>;
	};
*/
/*
	i2c0: i2c-gpio_hamsterbear0 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		i2c-gpio,delay-us = <5>;
		scl-gpios = <&pio 4 11 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		sda-gpios = <&pio 4 12 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;

		at24c02:at24c02@50{
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
			num-addresses = <8>;
		};
	};
*/
/*
	i2c0: i2c@1c27000 {
		compatible = "allwinner,suniv-f1c100s-i2c";
		reg = <0x01C27000 0x100>;
		interrupts  = <7>;
		clocks = <&ccu CLK_BUS_I2C0>, <&ccu CLK_BUS_I2C0>;
		clock-names = "ahb", "mod";
		resets = <&ccu RST_BUS_I2C0>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
	};
*/
/*
	i2c0: i2c-gpio_hamsterbear0 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		i2c-gpio,delay-us = <5>;
		scl-gpios = <&pio 4 11 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		sda-gpios = <&pio 4 12 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	};
*/
/*
	i2c1: i2c-gpio_hamsterbear1 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		i2c-gpio,delay-us = <5>;
		scl-gpios = <&pio 3 5 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		sda-gpios = <&pio 3 6 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	};
*/
/*
	i2c2: i2c-gpio_hamsterbear2 {

		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		i2c-gpio,delay-us = <5>;
		scl-gpios = <&pio 3 15 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		sda-gpios = <&pio 3 16 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	};
*/
    gpio_virt: gpio_virtualcontroller {
        compatible = "hamsterbear,gpio_virt";
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <4>;
    };
};

&dma {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pd_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pd_pins>;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pe_pins>;
	status = "disabled";
	i2c-max-frequency = <400000>;
/*
	ds1307: rtc@68 {
		compatible = "dallas,ds1307";
		status = "okay";
		reg = <0x68>;
		//interrupt-parent = <&gpio4>;
		//interrupts = <20 0>;
		trickle-resistor-ohms = <250>;
	};
*/
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pd_pins>;
	status = "okay";
	i2c-max-frequency = <400000>;

    pcf8574: gpio_controller@27 {
        compatible = "hamsterbear,pcf8574";
        status = "okay";
		reg = <0x27>;
        gpio-controller;
        #gpio-cells = <2>;
        base = <0>;
        ngpios = <8>;
    };
};



&i2c2 {
	pinctl-names = "default";
	pinctrl-0 = <&i2c2_pd_pins>;
	status = "disabled";
	i2c-max-frequency = <400000>;
};



&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pd_pins>;
	status = "okay";
	spi-max-frequency = <50000000>;

	st7789v: st7789v@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "sitronix,st7789v";
                reg = <0>;
                spi-max-frequency = <50000000>;
                rgb;
                buswidth = <8>;
                rotate = <90>;
                fps = <60>;
                spi-cpol;
                spi-cpha;
                reset-gpios = <&pio 4 10 GPIO_ACTIVE_HIGH>;	// PE10
                dc-gpios = <&pio 2 3 GPIO_ACTIVE_LOW>;		// PC3
                debug = <1>;
        };
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pa_pins>;
	status = "okay";
    spi-max-frequency = <50000000>;
/*
	ssd1306: ssd1306@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "solomon,ssd1306";
                reg = <0>;
                spi-max-frequency = <50000000>;
                buswidth = <8>;
                rotate = <0>;
                fps = <60>;
                spi-cpol;
                spi-cpha;
                reset-gpios = <&pio 4 9 GPIO_ACTIVE_HIGH>;
                dc-gpios = <&pio 4 10 GPIO_ACTIVE_LOW>;
                debug = <1>;
        };
*/
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <1>;
	broken-cd;
	status = "disabled";
};

&otg_sram {
        status = "okay";
};

&usb_otg {
        dr_mode = "otg";
        status = "okay";
};

&usbphy {
        usb0_id_det-gpio = <&pio 3 17 GPIO_ACTIVE_HIGH>; /* PE2 */
        status = "okay";
};
